* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Times New Roman', Times, serif;
}
  

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    box-sizing: border-box;
}
  
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.logo img {
    width: 150px;
    height: auto;
    margin: 5;
    padding: 5;
  }
  
  
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    padding-right: 100px;
}
  
.nav-links li {
    position: relative;
}

.nav-links li:hover{
    position: relative;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.sub-menu li:hover{
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}


.nav-links li:hover .sub-menu {
    display: block;
}
 
.nav-links li a {
    display: block;
    padding: 1rem;
    color: #616262;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.nav-links li a:hover{
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1;
}
  
.sub-menu li {
    margin: 0;
} 

.sub-menu a:hover {
    background-color: #333;
    color: #fff;
    border-bottom: 5px;
}
 

.sub-menu a {
    padding: 0.5rem;
}
  
.nav-toggle {
    display: none;
    cursor: pointer;
}
  
.nav-toggle span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    background-color: #333;
    transition: transform 0.3s ease-out;
}
  
@media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
    }
    
    .nav-links li {
      margin-bottom: 1rem;
    }

.nav-toggle {
        display: block;
    }
      
    .menu-open .nav-links {
        display: flex;
    }
      
    .menu-open .nav-toggle span:first-of-type {
        transform: rotate(45deg) translate(5px, 5px);
    }
      
    .menu-open .nav-toggle span:nth-of-type(2) {
        opacity: 0;
    }

    .menu-open .nav-toggle span:last-of-type {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}



.search-form input {
    width: 405px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 10px;
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}
  
.search-form button {
    height: 40px;
    background-color: #616262;
    color: #fff;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    white-space: nowrap;
}
  
.auth-buttons a {
    display: inline-block;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #616262;
    text-decoration: none;
}
  
.auth-buttons a:hover {
    position: relative;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slider img.active {
    opacity: 1;
  }

  

  